mg_rect_t ${form}_rect${id} =
{
    .widget =
    {
        .type = MG_WIDGET_TYPE_RECT,
        .geometry =
        {
            .x = ${x},
            .y = ${y},
            .w = ${w},
            .h = ${h}
        }
    },
    .color = ${color}
};
